@font-face {
  font-family: 'Rubik';
  src: url("/app/fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: 'Rubik';
  src: url("/app/fonts/Rubik-Light.ttf");
}

@font-face {
  font-family: 'Rubik';
  src: url("/app/fonts/Rubik-ExtraBold.ttf");
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
}

@import "map";

.container {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1800px;
  margin: 0 auto;
}

.select-wrapper {
  cursor: pointer;
  #select {
    color: #028BED;
    padding: 6px 10px;

    &::after {
      content: "▾";
      margin-left: 8px;
      display: inline-block;
    }
  }

  #select-options {
    position: absolute;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.15);
    div {
      padding: 6px 10px;
      color: #028BED;
    }
    :hover {
      background-color: #028BED;
      color: #F7DD0A;
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color:#028BED;
  color:#F7DD0A;
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 32px;
  a {
    text-decoration: none;
    font-size: 48px;
    font-weight: bold;
    color: #F7DD0A;
  }
}

.logo {
  background-image: url("/img/logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  min-width: 200px;
  max-width: 500px;
}

.header-social {
  display: flex;
  list-style-type: none;
  padding: 0;

  li {
    background-color: #028BED;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 0 5px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        fill: #fff;
        max-height: 10px;
      }
    }
  }
}

.map {
  a {
    path {
      transition: fill 0.2s ease-in, transform 0.2s ease-in;
      &:hover{
        fill: #ffdf00!important;
      }
    }
  }
}

@for $i from 1 through 20 {
  .map a {
    &:nth-child(#{$i}) {
      path{
        fill: darken(#4169e1, random(10));
      }
    }
  }
}