@charset "UTF-8";
@font-face {
  font-family: 'Rubik';
  src: url("/app/fonts/Rubik-Regular.ttf"); }

@font-face {
  font-family: 'Rubik';
  src: url("/app/fonts/Rubik-Light.ttf"); }

@font-face {
  font-family: 'Rubik';
  src: url("/app/fonts/Rubik-ExtraBold.ttf"); }

body {
  margin: 0;
  font-family: Rubik, sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1800px;
  margin: 0 auto; }
  .container nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; }

.select-wrapper {
  cursor: pointer; }
  .select-wrapper #select {
    color: #028BED;
    padding: 6px 10px; }
    .select-wrapper #select::after {
      content: "▾";
      margin-left: 8px;
      display: inline-block; }
  .select-wrapper #select-options {
    position: absolute;
    border-radius: 8px;
    overflow: hidden;
    visibility: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15); }
    .select-wrapper #select-options div {
      padding: 6px 10px;
      color: #028BED; }
    .select-wrapper #select-options :hover {
      background-color: #028BED;
      color: #F7DD0A; }

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #028BED;
  color: #F7DD0A;
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 32px; }
  .contact a {
    text-decoration: none;
    font-size: 48px;
    font-weight: bold;
    color: #F7DD0A; }

.logo {
  background-image: url("/img/logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  min-width: 200px;
  max-width: 500px; }

.header-social {
  display: flex;
  list-style-type: none;
  padding: 0; }
  .header-social li {
    background-color: #028BED;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 0 5px; }
    .header-social li a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
      .header-social li a img {
        fill: #fff;
        max-height: 10px; }

.map a path {
  transition: fill 0.2s ease-in, transform 0.2s ease-in; }
  .map a path:hover {
    fill: #ffdf00 !important; }

.map a:nth-child(1) path {
  fill: #2351dc; }

.map a:nth-child(2) path {
  fill: #2f5bde; }

.map a:nth-child(3) path {
  fill: #224fd7; }

.map a:nth-child(4) path {
  fill: #2f5bde; }

.map a:nth-child(5) path {
  fill: #224fd7; }

.map a:nth-child(6) path {
  fill: #214cce; }

.map a:nth-child(7) path {
  fill: #3d66e0; }

.map a:nth-child(8) path {
  fill: #2b58de; }

.map a:nth-child(9) path {
  fill: #2f5bde; }

.map a:nth-child(10) path {
  fill: #2754dd; }

.map a:nth-child(11) path {
  fill: #214ed3; }

.map a:nth-child(12) path {
  fill: #345fdf; }

.map a:nth-child(13) path {
  fill: #2351dc; }

.map a:nth-child(14) path {
  fill: #2754dd; }

.map a:nth-child(15) path {
  fill: #214cce; }

.map a:nth-child(16) path {
  fill: #2754dd; }

.map a:nth-child(17) path {
  fill: #214cce; }

.map a:nth-child(18) path {
  fill: #2b58de; }

.map a:nth-child(19) path {
  fill: #2f5bde; }

.map a:nth-child(20) path {
  fill: #2351dc; }
