@charset "UTF-8";
@font-face {
  font-family: 'Rubik';
  src: url("/app/fonts/Rubik-Regular.ttf"); }

@font-face {
  font-family: 'Rubik';
  src: url("/app/fonts/Rubik-Light.ttf"); }

@font-face {
  font-family: 'Rubik';
  src: url("/app/fonts/Rubik-ExtraBold.ttf"); }

body {
  margin: 0;
  font-family: Rubik, sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1800px;
  margin: 0 auto; }
  .container nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    @media (max-width: 600px) {
      .container nav {
        justify-content: space-around; } }
  @media (max-width: 600px) {
    .container {
      width: 90%; } }

.select {
  cursor: pointer; }
  .select .select-value {
    color: #028BED;
    padding: 6px 10px; }
    .select .select-value::after {
      content: "▾";
      margin-left: 8px;
      display: inline-block; }
  .select .select-options {
    position: absolute;
    border-radius: 8px;
    overflow: hidden;
    visibility: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15); }
    .select .select-options div {
      padding: 6px 10px;
      color: #028BED; }
    .select .select-options :hover {
      background-color: #028BED;
      color: #F7DD0A; }

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #4169e1;
  color: #f5f7f5;
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 22px; }
  .contact-phone {
    text-decoration: none;
    font-size: 48px;
    font-weight: bold;
    color: #fff700; }
    @media (max-width: 600px) {
      .contact-phone {
        font-size: 36px; } }
    .contact-phone .icon.icon-call {
      height: 32px; }
  @media (max-width: 600px) {
    .contact {
      padding: 20px 0;
      font-size: 18px; } }

.map-header {
  margin: 20px 0; }
  .map-header h2 {
    margin: 0; }
    @media (max-width: 600px) {
      .map-header h2 {
        font-size: 18px; } }
  @media (max-width: 600px) {
    .map-header span {
      font-size: 14px; } }

.logo {
  background-image: url("/img/logo.jpg  ");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  min-width: 200px;
  max-width: 500px; }
  @media (max-width: 600px) {
    .logo {
      width: 60%;
      height: 60px; } }

.icon.icon-call {
  height: 14px;
  color: #fffb00;
  display: inline-block; }

.header-social {
  display: flex;
  list-style-type: none;
  padding: 0; }
  .header-social li {
    background-color: #028BED;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 0 5px; }
    .header-social li a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
      .header-social li a img {
        fill: #fff;
        max-height: 10px; }

.sale {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0; }
  .sale .sale-card {
    max-width: 400px;
    text-align: center;
    padding: 20px 40px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    background-color: #4169e1;
    color: #fff700;
    cursor: pointer;
    -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4); }
    @media (max-width: 600px) {
      .sale .sale-card {
        max-width: 200px;
        padding: 15px 20px;
        border-radius: 20px; } }
  .sale span {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px; }
    @media (max-width: 600px) {
      .sale span {
        font-size: 16px; } }

.map-container {
  width: 100%;
  max-width: 600px; }

#map a g:hover path:last-child {
  fill: #4169e1 !important; }

#map a path {
  transition: fill 0.2s ease-in, transform 0.2s ease-in; }
  #map a path:first-child:hover {
    fill: #fffb00 !important; }
  #map a path:last-child {
    fill: #fff !important;
    pointer-events: none; }

#map a:nth-child(1) path {
  fill: #2754dd; }

#map a:nth-child(2) path {
  fill: #3862e0; }

#map a:nth-child(3) path {
  fill: #2f5bde; }

#map a:nth-child(4) path {
  fill: #3862e0; }

#map a:nth-child(5) path {
  fill: #2b58de; }

#map a:nth-child(6) path {
  fill: #214ed3; }

#map a:nth-child(7) path {
  fill: #214cce; }

#map a:nth-child(8) path {
  fill: #2b58de; }

#map a:nth-child(9) path {
  fill: #3d66e0; }

#map a:nth-child(10) path {
  fill: #2b58de; }

#map a:nth-child(11) path {
  fill: #214cce; }

#map a:nth-child(12) path {
  fill: #2754dd; }

#map a:nth-child(13) path {
  fill: #345fdf; }

#map a:nth-child(14) path {
  fill: #214ed3; }

#map a:nth-child(15) path {
  fill: #345fdf; }

#map a:nth-child(16) path {
  fill: #214ed3; }

#map a:nth-child(17) path {
  fill: #345fdf; }

#map a:nth-child(18) path {
  fill: #214ed3; }

#map a:nth-child(19) path {
  fill: #2754dd; }

#map a:nth-child(20) path {
  fill: #3862e0; }
